
@import 'bootstrap_overrides.scss';

@mixin labels {
    font-size : 14px;
    font-family: sans-serif;
}

body {
    @include labels;
}

text.axis {
    @include labels;
}
.y-tick text {
    @include labels;
}
.x-tick text  {
     @include labels;
}
.axis .domain {
    stroke-width: 1px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #555;
    shape-rendering: crispEdges;
}
